.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfb3ea;
  border-radius: 25px;
  color: #110d1b;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  padding: 2px 20px;
  &:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
    background-color: #a9a5b6;
    color: #36115a;
  }
}
