.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: black;
  border-radius: 25px;
}

.row {
  display: flex;
}

.item {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 15px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.button {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  margin: 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    background-color: white;
    color: black;
  }
  &:active {
    background-color: green;
    color: white;
  }
}

.counter {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}