.mainContainer {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  padding-left: 2%;
  width: 100vw;
  @media (max-width: 768px) {
    padding-left: 6%;
  }
}

.gameContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  @media (max-width: 768px) {
    width: 85%;
  }
}

.sidebar {
  width: 3%;
  @media (max-width: 768px) {
    width: 8%;
  }
}
