@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.around {
  justify-content: space-around;
  align-items: center;
}

.evenly {
  justify-content: space-evenly;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.hover {
  transition: 0.3s;
  &:hover {
    color: white;
  }
}
